<footer  id="footer" class="homepage-footer no-print" style="clear:both">
	<div  style="margin-left: 7em; margin-right: 7em" >
		<a align="center" href="https://square.aexp.com/StaffGroups/Technologies/ToolsandServices/ISPoliciesandStandardsLibrary/Documents/AXP-IS04.01%20Information%20Classification%20Standard.pdf">
				AXP	Internal</a>
		<p align="left">
					<br />This internal American Express website is part of the
					American Express Company&#8217;s internal online network and is
					restricted to authorized employees, contractors and vendors of
					American Express Company (&#8220;American Express&#8221;). For a
					limited time, American Express is making a portion of this internal
					website available to authorized employees, contractors and vendors of
					American Express Global Business Travel, a joint venture that is not
					wholly-owned by American Express or any of its subsidiaries. All
					access to and use of this site must be made in accordance with your
					location&#8217;s current version of American Express&#8217; Code of
					Conduct, Community Participation Rules and all other applicable
					American Express and/or third-party terms, policies and standards.
					Any unauthorized or unlawful access to or use of this site may result
					in personal liability, criminal prosecution and/or disciplinary
					action up to and including termination of your employment or
					contract. &#169;<span id="current-yr-update"> {{regDate | date: 'yyyy'}} </span> 
					American Express Company. All Rights Reserved. 
		</p>
	</div>
</footer> 
<!--<footer id="footer" style="clear:both">
			<div class="center">
				<p>
					<a href="https://www.americanexpress.com/" title="American Express">AMERICANEXPRESS.COM</a>&nbsp;&nbsp; <a href="http://about.americanexpress.com/?inav=footer_about_american_express" title="About American Express">ABOUT
									AMERICAN EXPRESS</a> &nbsp;&nbsp;<a href="http://ir.americanexpress.com/Investor-Relations" title="Investor Relations">INVESTOR RELATIONS</a>&nbsp;&nbsp;
					<a href="https://square.aexp.com/YouandAmex/recruitment/pages/recruitment.aspx" title="Careers">CAREERS</a>
				</p>
			</div>
			<img src="../../../assets/axp-dev-portal/images/square_footer_ribbon.png" alt="Square Footer" title="Footer" width=99% >
			<div>
				<div align="left" style="margin-left: 7em; margin-right: 7em" >
				<p>
				<a href="https://square.aexp.com/StaffGroups/Technologies/ToolsandServices/ISPoliciesandStandardsLibrary/Documents/AXP-IS04.01%20Information%20Classification%20Standard.pdf">
				AXP	Internal</a><br />This internal American Express website is part of the
				American Express Company&#8217;s internal online network and is
				restricted to authorized employees, contractors and vendors of
				American Express Company (&#8220;American Express&#8221;). For a
				limited time, American Express is making a portion of this internal
				website available to authorized employees, contractors and vendors of
				American Express Global Business Travel, a joint venture that is not
				wholly-owned by American Express or any of its subsidiaries. All
				access to and use of this site must be made in accordance with your
				location&#8217;s current version of American Express&#8217; Code of
				Conduct, Community Participation Rules and all other applicable
				American Express and/or third-party terms, policies and standards.
				Any unauthorized or unlawful access to or use of this site may result
				in personal liability, criminal prosecution and/or disciplinary
				action up to and including termination of your employment or
				contract. &#169;<span id="current-yr-update">  </span> 
				American Express Company. All Rights Reserved. 
				</p>
		</div>
	</div>
</footer>-->