
<!--<amex-data-table
  [headerCollection]="publicProductHeader"
  [tableDataCollection]="newProductData"
  [tableKeyCollection]="tableKey"
  [tableStyle]="'normal'"
  [customTableHeaderStyle]="">
</amex-data-table>-->
<div role="tabpanel" class="tab-pane fade in" id="PublicProductsGridViewDiv" style="margin-top: 2%;">
	<div id="getPublicProducts">
		<div class="form-group" style="width:95%;">
			<table id="publicProductsTable"	class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th (click)="sort(sortType,'platformName')">PLATFORM NAME</th>
						<th (click)="sort(sortType,'product_name')">PRODUCT NAME</th>
						<th (click)="sort(sortType,'product_desc')">PRODUCT DESCRIPTION</th>
						<th (click)="sort(sortType,'dateCreated')">DATE CREATED</th>
						<th>PRODUCT DOCUMENTATION</th>
					</tr>
				</thead>
				<tbody id="publicProductsTbody">
					<tr *ngFor="let item of productsDetails | orderBy:sortVal">
						<td>{{item.platformName}}</td>
						<td>{{item.product_name}}</td>
						<td>{{item.product_desc}}</td>
						<td>{{item.dateCreated | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
						<td><a class="documentationbutton" (click)=productDetail(item);>Documentation</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>