<div class="dls-container" style="padding-top: 2.25rem;">
    <div id="dls-page-container" class="dls-content container-fluid page-active">
<form [formGroup]="myForm" novalidate >
    <div class="insertProd panel-content dls-panel-row panel " style="padding: 1.875rem 1.25rem;" >
        <div class="divContent admin-form-div"style="margin-top: 5%; margin-left: 5%; margin-right: 5%;">
            <label style="margin-left: 40%;">Company Platform</label>
            <select name ="Platform" formControlName="adminPlatform" id="adminPlatform" class="form-control" #selectedPlatform (ngModelChange)="onChange(selectedPlatform.value)">
 		         <!--<option [value]="0" [selected]=true >-----Select a platform-----</option>-->
                 <option *ngFor="let s of Platform"  [ngValue]="s"  [value]="s.organizationId" >{{s.orgName}}</option>
		    </select>
        </div>
    </div>
      
       <div *ngIf="errorMsg" class=" error"  align="center"><strong>Please select at least one checkbox to update.</strong></div>
        <div role="tabpanel" class="tab-pane fade in" id="PublicProductsGridViewDiv" style="margin-top: 5%;" *ngIf="showtable" >
            <div id="getPublicProducts">
                <div class="form-group">
                    <table id="publicProductsTable" class="table table-striped table-bordered admin-table " cellspacing="0" width="100%">
                        <thead style="background: #ffffff" >
                            <tr>
                            <th >Select</th>
                            <th class ="cursor-pointer" (click)="sort(sortType,'status')">Status</th>
                            <th class ="cursor-pointer" (click)="sort(sortType,'userId')">UserId</th>
                            <th class ="cursor-pointer" (click)="sort(sortType,'fName')">First Name</th>
                            <th class ="cursor-pointer" (click)="sort(sortType,'lName')">Last Name</th>
                            <th class ="cursor-pointer" (click)="sort(sortType,'emailAddress')">EmailId</th>
                            </tr>
                        </thead>
                            <tbody id="publicProductsTbody">
                                <tr *ngFor="let item of userDetails | orderBy:sortVal; let rownumber = index ">
                                    <td><input type="checkbox" name="select"  [(ngModel)]="item.state" [ngModelOptions]="{standalone: true}" />&nbsp;</td>
                                    <td [ngClass]= "{'red':item.status === 'N','green':item.status === 'Y'} " ><strong>{{item.status === "N" ? 'INACTIVE' : 'ACTIVE'}}</strong></td>
                                    <td><a (click) ="useridactive(true,item)"><strong>{{item.userId}}</strong></a></td>
                                    <td>{{item.fName}}</td>
                                    <td>{{item.lName}}</td>
                                    <td>{{item.emailAddress}}</td>
                                   
                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>
                <div class= "col-xs-12 col-md-12" style="margin-left: 20px;" align="center" >
                    <button  class="btn btn-default"  (click)="changestatus()">Click to change status</button>
                    <button  class="btn btn-default"  (click)="deleteRowForm()">Click to delete User</button>
                </div>
                    <br><br><br>
            </div>
            <div *ngIf="showModal" class="modal-overlay" tabindex="-1"></div>
            <div *ngIf="showModal" class="modal" tabindex="-1" id="testModal" (click)="closeModal($event)" role="dialog" aria-hidden="true" align="center" style="opacity: 1;">
                <div class="modal-dialog"  style="max-height:63%;  margin-top: 150px; margin-bottom:50px; width: 550px ;border-radius:10px;">
                    <div class="modal-content" style="border: 1px solid #888;box-shadow: 5px 5px 10px #888888;border-radius:10px;height:100%">
                        <div class="modal-header" style="width:100%;padding: 1.15rem 1.05rem;padding-bottom:0.15rem;border-radius: 10px;">
                            <span style="width:95%;font-weight: 700;"><h4 class="modal-title" align="center" style="margin-bottom: 0px;">Assign Role</h4></span>
                                <button type="button" class="close"  style="padding: 0;height: 23px;min-width:23px;"  (click)="useridactive(false,'')">&times;</button>
                            </div>
                            <hr style="margin:0px 10px;padding: 0px;">
                            <div class="modal-body" style="height:70%;">
                                <h2 class="modal-title" align="center">Roles for UserId:{{userId}}</h2>
                                <div *ngFor="let item of roles" align="left" style="margin-bottom: 0.3rem;" #userRole>
                                        <input type="radio" name="options"  [value] = "item.roleId"  [checked]="item.roleId == model.options" style="margin-right:5px;">{{item.roleName }}
                                </div><!-- (click)="model.options = item" [checked]="item.roleId === roleId"-->                          
                                <div *ngIf="updatedMsg" class="successPopupMsg">Roles Updated. Please close the popup and refresh the page to see the change</div>
                            </div>
                            <hr style="margin:0px 10px;padding: 0px;">
                            <div class="modal-footer" align="center" style="padding-top:2%;">
                                <button type="button" style="min-width: 4.25rem;line-height: 0.4667;" class="btn btn-default" id="hideTestModal"  (click)="useridactive(false,'')">Close</button>
                                <button type="button" style="min-width: 4.25rem;line-height: 0.4667;" class="btn btn-default" id="hideTestModal"  (click)="updateUserRole(userRole)">Update Role</button>
                            </div>
</div>
</div>
</div>
</form>
</div>
</div>
