

<div class="wrapper inner inner_large" style="height:80%">
		<div class="dls-menu menu">
            <div class="menu-container devportal-sidebar">
                <div id="sticky-anchor"></div>
                <div class="menu-viewport devportal-sidebar sticky" id="sticky_nav">
                    <div class="menu-status"></div>
                    <div class="banner-bottom-grids">
                        <nav class="menu-nav dls-docs-sidebar">
                            <ul class="nav nav-vertical dls-nav">
                                <li *ngFor="let entry of leftNav | keys; let i=index " (click)="addActiveClass(i)" [ngClass]="{'active': highlightedDiv === i ,'nav-item no-border' :true }" >
                                    <a pageScroll [pageScrollOffset]="120" [href]= "'#'+entry.key" class="nav-link">{{entry.value}}</a>
                                </li>
                                <li class="nav-item no-border"><a class="nav-link">API Reference</a></li><!-- onclick="getApiReference()" -->
                            </ul>
                        </nav>
                    </div>							
                </div>
            </div>
	    </div>       
   
     <div class="dls-container">
         <div id="prodAPIDoc" contenteditable="true" class="container col-md-10 section-documentation" style="text-align: left; position: relative;" [innerHTML]="responseObj?.name | sanitizeHtml" (focus)="focusFunction()" (focusout)="focusOutFunction()" ><!-- (focusout)="focusOutFunction()" -->
        </div>
    </div>
</div>
<div style="margin-top:100px;">
</div>

