.link,
.sign-in button,
h5 {
    text-transform: uppercase
}
.container-clmn,
.one1,
.text-error {
    text-align: center
}
.banner-header,
.banner-text,
.text-error,
.text-static {
    font-family: BentonSans
}
.banner-header,
.banner-text,
.text-static {
    font-weight: Light;
    text-align: center
}
.banner-btn,
.image-link,
.link {
    cursor: pointer
}
.disableInput {
    opacity: .5!important
}
#link:focus,
#link:hover {
    text-decoration: inherit;
    color: #309;
    overflow: hidden
}
.image-link,
.link,
.link-static-text,
.link-text {
    overflow: hidden;
    text-decoration: none
}
.login-box {
    margin-top: -5px;
    margin-left: 42px;
    width: 225px;
    background: linear-gradient(to bottom, #FFF 50%, #DCDDDD);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#DCDDDD')";
    overflow: hidden;
    float: left;
    padding: 18px;
    border-color: #D8D8D8
}
.banner-clm {
    position: relative;
    overflow: hidden;
    float: left
}
.no-display {
    display: none
}
.display {
    display: block
}
.td-2 {
    width: 50%;
    position: relative;
    height: 100%;
    overflow: hidden;
    float: left
}
.one,
.one1,
.two {
    height: 41px
}
.one {
    width: 117px;
    background-color: #002663;
    border: none;
    text-color: #FFFFF;
    padding: 0 4px;
    margin: 0 4px;
    align: right
}
.one1 {
    width: 314px;
    text-color: #fff;
    border: 2px solid #fff;
    background-color: none
}
.text-static,
.two {
    background-color: #002663
}
.two {
    width: 117px;
    text-color: #FFFFF;
    border-color: none none none #000
}
.text-static {
    color: #fff;
    font-size: 27px;
    padding-top: 24px;
    padding-bottom: 18px
}
.text-error {
    color: #00f;
    font-size: 16px
}
.top3 {
    margin-top: 3px
}
.top5 {
    margin-top: 5px
}
.top6 {
    margin-top: 6px
}
.top9 {
    margin-top: 9px
}
.top13 {
    margin-top: 13px
}
.top15 {
    margin-top: 0
}
.top17 {
    margin-top: 17px
}
.top20 {
    margin-top: 20px
}
.top24 {
    margin-top: 24px
}
.top25 {
    margin-top: 25px
}
.top30 {
    margin-top: 30px
}
.top35 {
    margin-top: 35px
}
.top40 {
    margin-top: 40px
}
.top43 {
    margin-top: 43px
}
.top45 {
    margin-top: 45px
}
.top46 {
    margin-top: 46px
}
.top50 {
    margin-top: 50px
}
.top53 {
    margin-top: 53px
}
.top55 {
    margin-top: 55px
}
.left10 {
    margin-left: 10px
}
.left2 {
    margin-left: 2px
}
.left25 {
    margin-left: 25px
}
.left60 {
    margin-left: 60px
}
.top-pad17 {
    padding-top: 17px
}
.top-pad25 {
    padding-top: 25px
}
.top-pad50 {
    padding-top: 50px
}
.top-pad75 {
    padding-top: 7px
}
.left-pad50 {
    padding-left: 50px
}
.logo {
    overflow: hidden;
    float: left;
    margin-right: 32px;
    margin-left: 50px;
    margin-top: 14px
}
.container_1 {
    margin: 0 90px;
    overflow: hidden
}
.header-container {
    background: linear-gradient(to bottom, #FFF 50%, #DCDDDD);
    width: 100%;
    height: 87px;
    overflow: hidden;
    border: 1px solid #D6D6D6
}
.footer-container {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    background-color: #333
}
.container-clmn {
    margin-top: 20px;
    position: relative;
    width: 415px;
    overflow: hidden;
    float: left;
    background-color: #FFF;
    vertical-align: middle
}
.container-clmn-clr {
    background-color: #77216F;
    color: #FFF;
    margin-left: 20px
}
.container-clmn-API {
    height: 280px;
    border-radius: 5px;
    margin-right: 2%;
    background: linear-gradient(to bottom, #FFF 50%, #DCDDD3)
}
.sub-container-API {
    height: 220px
}
.text-static-container {
    margin-top: 46px;
    height: 74px
}
.sub-container {
    background-color: #fff
}
.sub-container-API {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 25px
}
.sub-container-row {
    width: 929px;
    overflow: hidden;
    margin: 38px 46px 44px
}
.s-c-row2 {
    margin-top: 0;
    height: 146px;
    padding-bottom: 44px
}
.sub-container-clmn {
    position: relative;
    width: 33.33%;
    overflow: hidden;
    float: left
}
.h45p {
    height: 45%;
    border: .1px solid #fff
}
.h36 {
    height: 36px
}
.margin25 {
    margin: 25px
}
.margin-LR25 {
    margin-left: 25px;
    margin-right: 25px
}
.margin30 {
    margin: 30px
}
.margin38 {
    margin: 38px
}
.margin413 {
    margin-left: 413px;
    margin-right: 413px
}
.sub-container-clmn-row1 {
    height: 262px
}
.sub-container-clmn-row2 {
    height: 41px
}
.menu {
    width: 100%;
    height: 65px;
    background-color: #002663
}
.banner {
    background-color: grey;
    color: #fff;
    width: 100%;
    vertical-align: top;
    height: 328px
}
.banner-home {
    background-image: url(../images/AMEX_API_Landing_HeroImage.jpg)
}
.banner-catalog {
    background-image: url(../images/AMEX_API_Catalogue_HeroImage_1.jpg)
}
.banner-header {
    color: #fff;
    font-size: 42px;
    padding-top: 48px;
    padding-right: 26px
}
.banner-text {
    color: #fff;
    font-size: 17px;
    padding-top: 33px
}
.banner-btn,
.link-static-text,
.static-text {
    font-family: BentonSans;
    font-weight: Medium
}
.text-left {
    text-align: left
}
.align-bottom {
    vertical-align: bottom;
    padding-bottom: 25px
}
.banner-btn {
    color: #fff;
    height: 41px;
    width: 314px;
    border-radius: 6px;
    border: 2px solid #fff;
    vertical-align: middle;
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    background-color: transparent
}
.btn-large,
.btn-login,
.btn-primary_1,
.space3 {
    background-color: #002663
}
.btn-menu,
.btn-menuAPI,
.static-text6 {
    font-family: BentonSans;
    vertical-align: top
}
.link-static-text {
    font-size: 12px;
    color: #002663;
    cursor: pointer;
    float: left;
    text-align: left;
    padding-top: 15px
}
.prod-desc-txt{
	/*height:115px;*/
}
.static-text {
    font-size: 14px;
    color: #616161;
    padding-top: 11px
}
.static-text1 {
    font-size: 23px;
    font-family: BentonSans;
    font-weight: Light;
    color: #616161;
    margin-top: 20px
}
.static-text2 {
    font-size: 13px;
    font-family: BentonSans;
    font-weight: Book;
    color: #616161;
    margin-top: 15px
}
.static-text3,
.static-text3-1 {
    color: #6C6969;
    font-family: BentonSans-Md,Arial;
    font-weight: Light
}
.static-text3 {
    font-size: 27.5px;
    margin-top: 20px
}
.prd-rd-view {
	font-size: 17px !important;
}

.static-text3-1 {
    font-size: 27px;
    word-wrap:break-word;
    
}
.static-text4,
.static-text5 {
    font-family: BentonSans;
    font-size: 16px
}
.static-text4 {
    font-weight: Book;
    color: #616161;
    margin-top: 15px
}
.static-text5 {
    color: #666
}
.static-text6 {
    font-size: 13px;
    color: #006890
}
.static-text7 {
    font-size: 14px;
    font-family: BentonSans;
    font-weight: Medium;
    color: #616161;
    padding-top: 11px
}
.static-text-white {
    color: #FFF
}
.static-text-color {
    color: #616161
}
.text-center {
    text-align: center
}
.link {
    float: left;
    letter-spacing: .02em;
    font-size: 12px!important
}
.image-link {
    float: right;
    margin-left: 25px
}
.images {
    background-image: url(images/Amex_API-Portal_Sprite_Opt.png);
    background-repeat: no-repeat
}
.img-login {
    height: 128px;
    background-position: 0 0
}
.space1 {
    padding: 0 10px 0 650px
}
.space2 {
    padding: 24px 0 0
}
.space3 {
    padding: 0 0 0 90px
}
.space4 {
    padding: 0 0 0 10px
}
.space-hdr {
    padding-left: 707px
}
.space10 {
    padding-left: 6px
}
.btn-menu {
    font-weight: middle;
    user-select: none
}
.btn-menu,
.btn-menuAPI {
    background-image: none;
    padding: 34px 30px 39px;
    font-size: 14px;
    cursor: pointer;
    color: #002663;
    border-right: 1px solid #E8E8E8;
    float: left;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}
.btn-menuAPI {
    font-weight: bolder;
    user-select: none
}
.btn,
.btn-login,
.btn-primary_1 {
    cursor: pointer;
    font-weight: middle
}
.btn-login,
.btn-primary_1 {
    background-image: none;
    float: right;
    font-family: BentonSans;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle
}
.btn-primary_1 {
    color: #fff;
    margin-right: 100px;
    margin-left: 10px;
    border-radius: 6px;
    border: none;
    width: 114px;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 13px;
    padding-bottom: 13px
}
.btn-login {
    border: none;
    width: 70px;
    height: 25px;
    font-size: 8px;
    user-select: none;
    padding: 3px
}
.btn,
.btn-login {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}
.btn,
.btn-group,
.btn-group-vertical {
    font-family: BentonSans;
    white-space: nowrap;
    font-size: 14px;
    text-align: center
}
.btn-large,
.btn-login {
    color: #fff;
    border-radius: 6px
}
.btn-large {
    height: 41px;
    border: none;
    vertical-align: bottom;
    margin-bottom: 0;
    float: bottom
}
.btn-show {
    width: 188px
}
.btn-doc {
    width: 162px
}
.btn-try {
    width: 95px
}
.btn-large-clr {
    color: #77216F;
    background-color: #FFF
}
.btn-search {
    float: right
}
.btn-large {
    width: 100%
}
.link-text {
    color: #3F9C35;
    background-color: transparent;
    cursor: pointer;
    float: center
}
.link2 {
    color: #ED5929
}
.link3 {
    color: #77216F
}
.search-img {
    margin-left: 10px;
    border: 0 solid transparent
}
.btn {
    user-select: none;
    background-image: none;
    vertical-align: top
}
.btn.active:focus,
.btn:active:focus,
.btn:focus {
    background-color: #006890
}
.btn-active {
    text-decoration: inherit;
    padding-bottom: 40px;
    background: url(../images/highlighter.png) 0 0px repeat-y
}
.btn:focus,
.btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #006890
}
.btn.active,
.btn:active {
    background-color: #006890;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}


.btn-base {
    height: 41px;
    color: #fff;
    background-color: #002663;
    border-radius: 6px;
    border: none
}
.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 90px;
    margin-right: 90px;
    font-weight: Medium;
    width: 1021px;
    height: 62px
}
.btn-group-vertical>.btn,
.btn-group>.btn {
    position: relative;
    float: left
}
.thumbnail {
    display: block;
    margin-top: 30px;
    margin-bottom: 44px;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
.MainBorder {
    width: 100%;
    overflow: hidden;
    background-color: #EBEBEB
}
.font1 {
    font-size: 42px;
    font-family: BentonSans;
    font-weight: Light;
    text-align: left;
    white-space: nowrap;
    color: #002663
}
.font2,
.font3 {
    color: #333;
    font-size: 17px;
    white-space: nowrap
}
.font2 {
    font-family: BentonSans;
    font-weight: Book;
    text-align: center
}
.fieldtext,
.font3,
.login-field,
.terms-text {
    text-align: left;
    font-family: BentonSans;
    font-weight: Regular
}
.fieldtext,
.login-field {
    color: #666
}
.subcontainer-fields {
    margin-top: 40px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;
    background-color: #FFF;
    border: 1px solid #fff
}
.fieldtext {
    height: 40px;
    font-size: 16px;
    width: 400px;
    border-radius: 2px;
    border: 1pt solid #CBCBCB
}
.login-field {
    height: 30px;
    font-size: 12px;
    width: 88px;
    border-radius: 3px;
    border: 1pt solid #CBCBCB;
    float: left;
    padding: 5px
}
.box1 {
    width: 260px
}
.box2 {
    width: 540px
}
.box3 {
    width: 120px
}
.box4,
.terms-box {
    width: 820px
}
.line {
    color: #BBB;
    line-height: 1pt
}
.terms-box {
    height: 186px;
    border-radius: 2px;
    border: 1pt solid #CBCBCB;
    overflow: auto;
    margin-top: 35px;
    margin-left: 60px;
    margin-right: 60px
}
.terms-text {
    Padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    color: #666;
    font-size: 13px;
    float: left
}
#myModalLabel,
.headingInfo,
.lblCategory {
    font-size: 16px
}
#myModalLabel,
.headingInfo,
pre {
    font-weight: 700
}
#sboContainer {
    padding-bottom: 33px
}
#conciContainer {
    padding-bottom: 16px
}
#docPwp {
    padding-top: 16px
}
.linkCont {
    /*width: 162px*/
}
#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=80);
    height: 2100px
}
#loading {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin: -28px 0 0 -25px
}
div#iNavNGI_Header {
    display: none!important
}
.orgCountry {
    width: 350px
}
#prodDescription {
    margin-bottom: 1%
}
#prodName {
    float: left;
    margin-left: 12.5%
}
.lblCategory {
    float: left;
    margin-top: .5%
}
.categoryValues {
    float: left;
    margin-left: 2%
}
.resultFromProd {
    display: none
}
.leftAlign {
    float: left
}
.checkBoxCommon {
    margin-bottom: 12px
}
pre,
table {
    margin-bottom: 30px
}
.marginTop {
    margin-top: 3px
}
.dialogClass {
    border-top: 1px solid #e5e5e5
}
#myModalLabel {
    border-bottom: 1px solid #e5e5e5
}
.userIdRolesUpdate {
    font-weight: 700;
    font-size: 14px
}
a:focus,
a:hover {
    color: #006890
}
body {
    font-weight: 300;
    color: #3A3835
}
h1 {
    margin-top: 0;
    font-size: 22px;
    color: #002663
}
h2 {
    font-size: 18px
}
h3,
h4 {
    margin-top: 20px;
    font-size: 14px
}
h5 {
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #9CA5B5
}
pre {
    font-size: 13px;
    color: inherit;
    border: 0
}
table {
    width: 100%
}
table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}
table>tbody>tr:nth-child(odd)>td {
    background-color: #f9f9f9
}
table>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}
.navbar {
    height: 64px;
    min-height: 64px;
    background: #fff;
    border-top: 0;
    border-right: 0;
    border-bottom: #337FBD solid 3px;
    border-left: 0;
    border-radius: 0
}
.navbar-header {
    margin-top: 11px
}
.navbar-toggle {
    margin-top: 3px
}
.navbar-brand {
    padding-top: 10px;
    padding-left: 50px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 100;
    background: url(../img/logo.png) no-repeat
}
.navbar-nav {
    font-size: 14px;
    font-weight: 200
}
@media (max-width: 768px) {
    .navbar-nav {
        margin-top: 0;
        background-color: #fff;
        box-shadow: 0 1px 1px #888
    }
}
.navbar-nav>li>a {
    padding-top: 22px;
    padding-bottom: 19px
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #f9f9f9;
    font-weight: 300
}
.help .browsehappy,
.sign-in .browsehappy,
.tutorials .browsehappy {
    position: absolute;
    top: 64px
}
.browsehappy {
    z-index: 1000;
    width: 100%;
    max-width: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: #fcf8e3!important;
    border: 1px solid #faebcc
}
.content {
    min-height: 400px;
    margin-top: 64px;
    background: -webkit-linear-gradient(#f6f8fa, #fff);
    background: -o-linear-gradient(#f6f8fa, #fff);
    background: -moz-linear-gradient(#f6f8fa, #fff);
    background: linear-gradient(#f6f8fa, #fff);
    filter: progid: DXImageTransform.Microsoft.gradient (startColorstr='#F6F8FA', endColorstr='#ffffff')
}
.row {
    margin-top: 30px
}
.help .contact-box {
    padding: 20px 20px 10px;
    background-color: #f9f9f9;
    width: 300px;
    margin: 0 0 20px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
@media (max-width: 768px) {
    .help .contact-box {
        width: 200px
    }
}
@media (max-width: 460px) {
    .help .contact-box {
        padding: 0;
        background-color: transparent;
        width: 100%;
        margin: 0 0 20px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0
    }
}
.help .row,
.tutorials .row {
    margin-top: -10px
}
.help h1,
.tutorials h1 {
    margin-top: 140px;
    margin-bottom: 0
}
.help h1 {
    margin-left: 6px
}
.tutorials h1 {
    color: initial
}
@media (max-width: 768px) {
    .help h1,
    .tutorials h1 {
        margin-top: 90px;
        margin-bottom: 0
    }
}
.help h2,
.tutorials h2 {
    margin-top: 0;
    color: #002663
}
@media (min-width: 768px) {
    .tutorials .card {
        min-height: 167px
    }
}
@media (min-width: 992px) {
    .tutorials .card {
        height: 190px
    }
}
@media (min-width: 1200px) {
    .tutorials .card {
        height: 167px
    }
}
.tutorials .cards a {
    color: initial
}
.tutorials .cards a:focus,
.tutorials .cards a:hover {
    text-decoration: none
}
.apinav .nav>li>a:hover,
.tutorials .card a:focus,
.tutorials .card a:hover {
    text-decoration: underline
}
.tutorials .card a {
    color: #428bca
}
.tutorials .card:focus,
.tutorials .card:hover {
    color: #fff;
    background-color: #337FBD;
    border-color: #fff
}
.tutorials .help:focus,
.tutorials .help:hover {
    color: initial;
    background-color: #fff;
    border-color: #D8D8D8
}
.tutorials .card:focus h2,
.tutorials .card:hover h2 {
    color: #fff
}
.tutorials .help:focus h2,
.tutorials .help:hover h2 {
    color: initial
}
.help .info,
.tutorials .card {
    padding: 20px 20px 10px;
    margin-top: 30px;
    line-height: 24px;
    background-color: #fff;
    border: 1px solid #D8D8D8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
.help .content:before,
.tutorials .content:before {
    position: absolute;
    width: 100%;
    height: 120px;
    margin-top: 0;
    background: url(../img/banner-85.jpg) bottom no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    content: ''
}
.sign-in .row {
    margin-top: 50px
}
@media (max-width: 992px) {
    .sign-in .row {
        margin-top: 30px
    }
}
.sign-in .navbar {
    margin-bottom: 0
}
.sign-in .content {
    width: 100%;
    background: url(../img/banner-85.jpg) bottom no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: #337FBD solid 3px;
    filter: none;
    transition: height .3s
}
@media (max-width: 768px) {
    .help .content:before,
    .tutorials .content:before {
        height: 70px
    }
    .sign-in .row {
        margin-top: 14px
    }
    .sign-in .content {
        min-height: 300px
    }
}
@media (min-width: 992px) {
    .sign-in .col-md-8 {
        padding-left: 0
    }
}
.sign-in h1 {
    padding: 0;
    margin-top: 10px;
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 2px 6px #000;
    filter: DropShadow(Color=#4c4c4c, OffX=2, OffY=2, Positive=1)
}
.sign-in h2 {
    padding: 0;
    margin: 0 0 20px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5)
}
.si-box {
    padding: 20px;
    margin-top: 26px;
    background: #337FBD;
    background: -webkit-linear-gradient(#337fbd, #006890);
    background: -o-linear-gradient(#337fbd, #006890);
    background: -moz-linear-gradient(#337fbd, #006890);
    background: linear-gradient(#337fbd, #006890);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
@media (max-width: 992px) {
    .sign-in .content {
        min-height: 330px
    }
    .si-box {
        margin-top: 16px
    }
}
.sign-in input[type=text] {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0
}
.sign-in input[type=password] {
    border-top: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-topleft: 0
}
.sign-in button {
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}
.si-box>form>.btn-default:hover {
    color: #006890;
    background-color: #fff;
    border-color: #fff
}
.si-box a {
    margin: 10px 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5)
}
a.forgot {
    display: block
}
a.create {
    position: relative;
    top: 4px;
    left: 6px
}
.section-documentation {
    padding: 1px 30px;
    background-color: #fff;
    border: 1px solid #D8D8D8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 24px
}
.section-documentation ul {
    margin-top: -10px
}
.section-documentation table ul {
    margin-top: 6px
}
.section-documentation .row {
    margin-top: 0
}
.section-documentation img {
    width: 400px;
    margin: 20px auto
}
.section-documentation img.feature {
    width: 300px;
    margin: 0 0 20px 20px
}
.section-documentation .next-step {
    margin: 30px 0
}
.section-documentation .next-step a {
    padding: 10px 16px;
    border: 1px solid #ddd;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}
.apidoc,
.apinav {
    border-right: 1px solid #D8D8D8
}
.section-navigation {
    padding-right: 0;
    padding-left: 0;
    margin-top: 20px
}
.section-navigation ul.affix {
    width: 195px
}
@media (max-width: 991px) {
    .section-navigation {
        padding-right: 15px;
        padding-left: 15px;
        margin-top: -12px
    }
    .section-navigation ul.affix {
        position: static;
        top: 0;
        width: auto
    }
}
.section-navigation ul {
    padding: 2px 0 0;
    list-style: none
}
.section-navigation li {
    padding: 0 12px;
    line-height: 32px
}
.section-navigation li img {
    padding-left: 6px;
    vertical-align: baseline
}
.section-navigation li.active {
    background: #337FBD;
    background: -webkit-linear-gradient(#337fbd, #006890);
    background: -o-linear-gradient(#337fbd, #006890);
    background: -moz-linear-gradient(#337fbd, #006890);
    background: linear-gradient(#337fbd, #006890);
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
    filter: progid: DXImageTransform.Microsoft.gradient (startColorstr='#337FBD', endColorstr='#006890')
}
@media (max-width: 991px) {
    .section-navigation li.active {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px
    }
}
.section-navigation a {
    color: #337FBD
}
.section-navigation a:hover {
    color: #006890
}
.section-navigation li.active a {
    color: #fff
}
[id^=api-] {
    padding-top: 84px;
    margin-top: -64px
}
.table-container .table-row:last-child>.apidoc>hr {
    display: none
}
.api-reference hr {
    margin: 60px -20px 30px;
    color: #e4e8eb
}
@media (min-width: 768px) {
    .api-reference .navbar-nav.navbar-right:last-child {
        margin-right: 0
    }
}
.api-reference .table-container {
    display: table;
    width: 100%
}
.api-reference .table-row {
    display: table-row;
    width: 100%
}
.apicode,
.apidoc,
.apimain,
.apinav {
    display: table-cell;
    float: none;
    vertical-align: top
}
.api-reference .affix {
    margin-right: 250px
}
.apimain {
    width: 100%;
    padding-right: 0;
    padding-left: 220px;
    background-color: #fff
}
.apicode,
.apidoc {
    padding-left: 20px
}
.apidoc {
    padding-right: 20px;
    line-height: 24px
}
.apidoc h1 {
    margin-top: 20px
}
.apidoc h2 code {
    font-size: 80%
}
.apidoc td:nth-child (1) {
    padding-right: 10 px;
    text-align: right
}
.apidoc td:nth-child (2) {
    padding-right: 20 px
}
.apicode {
    min-width: 400px;
    padding-right: 20px;
    background-color: #f9f9f9
}
.apicode pre {
    padding: 0;
    margin: 0 0 60px;
    font-weight: 400;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    background-color: inherit
}
.apicode h4,
.apinav li.header {
    text-transform: uppercase;
    margin-top: 22px;
    font-size: 12px
}
.apicode h4 {
    margin-bottom: 10px
}
.apinav {
    width: 220px;
    height: 100vh;
    min-width: 220px;
    padding-right: 20px;
    padding-left: 20px;
    background: -webkit-linear-gradient(#f6f8fa, #fff);
    background: -o-linear-gradient(#f6f8fa, #fff);
    background: -moz-linear-gradient(#f6f8fa, #fff);
    background: linear-gradient(#f6f8fa, #fff);
    background-color: #f6f8fa;
    filter: progid: DXImageTransform.Microsoft.gradient (startColorstr='#F6F8FA', endColorstr='#ffffff')
}
.apinav li.header {
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.1;
    color: #9CA5B5
}
.apinav select {
    margin: 10px 0 30px
}
.apinav ul {
    padding: 2px 0 0;
    list-style: none
}
.apinav li {
    padding: 0;
    line-height: 32px
}
.apinav li.active {
    padding: 0 20px;
    margin: 0 -20px;
    background: #337FBD;
    background: -webkit-linear-gradient(#337fbd, #006890);
    background: -o-linear-gradient(#337fbd, #006890);
    background: -moz-linear-gradient(#337fbd, #006890);
    background: linear-gradient(#337fbd, #006890);
    filter: progid: DXImageTransform.Microsoft.gradient (startColorstr='#337FBD', endColorstr='#006890')
}
.apinav .nav>li>a:hover,
.apinav li.active a {
    background-color: transparent
}
.apinav a {
    padding: 0;
    color: #337FBD;
    border-radius: 0
}
.apinav a:hover {
    color: #006890
}
.apinav li.active a {
    color: #fff
}
.apinav .nav>li>a {
    position: relative;
    display: block;
    padding: 0
}
.apinav .nav>li.active>a:hover {
    text-decoration: none
}
footer {
    padding: 0 15px;
    margin: 60px 0 20px;
    font-size: 11px;
    font-weight: 400;
    text-align: center
}
.sign-in footer {
    padding: 180px 15px 20px;
    margin: 0;
    background: -webkit-linear-gradient(#f6f8fa, #fff);
    background: -o-linear-gradient(#f6f8fa, #fff);
    background: -moz-linear-gradient(#f6f8fa, #fff);
    background: linear-gradient(#f6f8fa, #fff);
    filter: progid: DXImageTransform.Microsoft.gradient (startColorstr='#F6F8FA', endColorstr='#ffffff')
}
@media (max-width: 992px) {
    .sign-in footer {
        padding-top: 100px
    }
}
footer a {
    color: inherit;
    text-decoration: underline
}
.hljs {
    padding: 0;
    background: 0 0
}
.apache .hljs-cbracket,
.apache .hljs-tag,
.asciidoc .hljs-header,
.bash .hljs-variable,
.coffeescript .hljs-attribute,
.django .hljs-variable,
.erlang_repl .hljs-function_or_atom,
.haml .hljs-symbol,
.hljs-addition,
.hljs-constant,
.hljs-flow,
.hljs-parent,
.hljs-pragma,
.hljs-preprocessor,
.hljs-rules .hljs-value,
.hljs-stream,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-template_tag,
.hljs-title,
.markdown .hljs-header,
.ruby .hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.smalltalk .hljs-class,
.tex .hljs-command,
.tex .hljs-special {
    color: #c7254e
}
.clojure .hljs-built_in,
.hljs,
.hljs-subst,
.hljs-tag .hljs-title,
.lisp .hljs-title,
.nginx .hljs-title {
    color: initial
}
#prodAPIDoc {
    /*float: right;*/
    padding-left: 24px;
    position: relative!important;
    margin-right: 15px
}
ul.nav-tabs {
    width: 160px;
    margin-top: 20px;
    border-radius: 4px
}
ul.nav-tabs li {
    margin: 0
}
ul.nav-tabs li:first-child {
    border-top: none
}
ul.nav-tabs li a {
    margin: 0;
    padding: 8px 16px;
    border-radius: 0
}
ul.nav-tabs li.active a,
ul.nav-tabs li.active a:hover {
    color: #fff;
    background: #08c;
    border: 1px solid #08c
}
ul.nav-tabs li:first-child a {
    border-radius: 4px 4px 0 0
}
ul.nav-tabs li:last-child a {
    border-radius: 0 0 4px 4px
}
ul.nav-tabs.affix {
    top: 30px
}
.autoSaveIcon {
    float: right;
    padding-right: 5px;
    background: #060;
    display: none;
    color: #fff
}
.header-containerAdmin {
    background: linear-gradient(to bottom, #FFF 50%, #DCDDDD);
    width: 100%;
    height: 84px;
    overflow: hidden;
    border: 1px solid #D6D6D6
}
.dev-app-txt {
    font-size: .8em!important
}
.appDetails {
    background-color: #f8f8f8;
    border-radius: 19px;
    padding: 31px 118px 31px 31px;
    position: relative;
    width: 1131px;
    font-size: 20px;
    margin: 35px
}
.btn-app,
.no-app-btn {
    text-decoration: none;
    cursor: pointer;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) #b3b3b3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 1px 2px rgba(0, 0, 0, .05);
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    vertical-align: middle
}
.btn-app {
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    color: #333;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    padding: 4px 12px
}
.view-app-wrap {
    margin: 20px;
    padding-left: 52px;
    width: 867px
}
.panel-title {
    padding-right: 595px!important;
    margin-right: 158px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap
}
.panel-body {
    font-size: 13px!important;
    padding-right: 389px
}
#viewapp-desc {
    white-space: nowrap;
    padding-bottom: 19px;
    padding-right: 178px
}
#app-sb-detials {
    padding-bottom: 7px;
    margin-top: 37px
}
.view-app-sb {
    white-space: nowrap
}
#view-app-prodtn-client,
#view-app-prodtn-secret,
#view-app-sb-client,
#view-app-sb-product,
#view-app-sb-product-description,
#view-app-sb-product-name,
#view-app-sb-secret {
    float: left
}
h4 a {
    display: block;
    background: url(../images/down.png) left center no-repeat;
    padding-left: 20px
}
h4 a.tab-opened {
    background-image: url(../images/up.png)
}
.app-pd-view-txt,
.app-sb-view-txt {
    float: left
}
span ul li {
    padding-right: 314px;
    white-space: nowrap;
    float: left;
    list-style: none;
    margin: 0 0 15px;
    font-size: 16px;
    color: gray
}
#app-viewapp-desc {
    white-space: nowrap;
    float: left
}
#app-view-callback,
#app-view-cid,
#app-view-csecret,
#app-view-desc,
#app-view-env,
#app-view-rgst,
#app-view-usr {
    float: left;
    font-size: 1em
}
#app-view-desc-val {
    margin-left: 50px;
    font-size: 1em
}
#app-created-user {
    padding-top: 35px
}
#app-client-secret,
#app-register-date {
    padding-top: 37px
}
#app-created-user-val,
#app-register-date-val {
    float: left;
    margin-left: 55px
}
#app-callback-url {
    padding-top: 37px;
    white-space: nowrap
}
#app-callback-url-val {
    margin-left: 37px;
    padding-right: 203px
}
#app-client-id {
    white-space: nowrap;
    padding-top: 24px
}
#app-client-id-val {
    float: left;
    margin-left: 69px
}
#app-client-scrt-val,
#app-env-val {
    float: left;
    margin-left: 43px
}
#app-environment {
    white-space: nowrap;
    padding-top: 37px
}
#app-action {
    margin-left: 246px;
    white-space: nowrap
}
#prod-out-data {
    padding-top: 10px
}
#app-env-prod-first {
    white-space: nowrap;
    float: left;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-right: 31px
}
#prod-info>ul {
    margin-left: 20px
}
.slct-org-buttons {
    margin-bottom: 16.5%
}
.no-app-btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    color: #333;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
    padding: 4px 12px
}
.no-app-txt {
    font-size: 16px
}
.no-app-appDetails {
    background-color: #f8f8f8;
    border-radius: 19px;
    padding: 44px;
    position: relative;
    width: 610px;
    font-size: 20px;
    margin: 35px;
    float: none
}
#app-false>div {
    padding-top: 7px
}
.btn-active:active {
    background-color: #fff;
    color: #002663
}
#link-admin:hover,
#link-app:hover,
#link-editor:hover,
#link-faq:hover,
#link-orgadmin:hover,
#link-prod:hover,
.btn-active:hover {
    background-color: #f5f5f5;
    color: #002663
}
.index-btn-active {
    font-size: .8em;
    font-weight: 700
}
#logout:hover {
    color: #fff;
    background: #006890;
    text-decoration: none
}
.login-box.logout-box {
    background: #006890;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    display: block;
    height: 75px;
    width: 214px;
    white-space: nowrap;
    z-index: 2
}
.link.btn-primary_1.msg-display {
    background-color: #006890!important;
    color: #fff;
    font-size: 12px;
    padding-left: 16px
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity
}
.carousel-fade .carousel-inner .active {
    opacity: 1
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1
}
.carousel-fade .carousel-control {
    z-index: 2
}
.carousel-control.left,
.carousel-control.right {
    background: 0 0!important;
    filter: progid: none!important;
    outline: 0
}
.carousel .carousel-control {
    visibility: hidden
}
#dialogParent,
.carousel:hover .carousel-control {
    visibility: visible
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner>.item.active.left,
    .carousel-fade .carousel-inner>.item.active.right,
    .carousel-fade .carousel-inner>.item.next,
    .carousel-fade .carousel-inner>.item.prev {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    .carousel-fade .carousel-inner>.item.active,
    .carousel-fade .carousel-inner>.item.next.left,
    .carousel-fade .carousel-inner>.item.prev.right {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
.imageICM {
    position: relative;
    width: 100%
}
#bannerStaticText {
    position: absolute;
    top: 110px;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    color: #fff
}
#footer {
    background: linear-gradient(to bottom, #FFF 50%, #DCDDDD);
    width: 100%;
    font-family: "BentonSans Regular", Arial!important;
    font-size: 12px;
    line-height: 17px;
    font-style: normal;
    color: #676767;
    padding: 20px 2em 80px
}
h1,
h2,
h3 {
    margin: 0;
    padding: 0
}
.crt-ap-lbl {
    display: inline-block;
    width: 190px;
    color: #8c8989
}
.ct-ap-dis-fld {
    height: 30px;
    width: 40%
}
.crt-app-form-field {
    clear: both;
    margin: 0 35px 21px 0
}
.crt-app-buttons {
    padding: 15px 0 0 150px;
    margin-bottom: 37px
}
#products {
    margin-left: 87px;
    width: 483px;
    margin-top: -22px;
    height: 79px
}
::-webkit-input-placeholder {
    font-size: 14px;
    color: #d7d6d6;
    text-transform: uppercase;
    text-align: left
}
:-moz-placeholder {
    font-size: 14px;
    color: #d0cdfa;
    text-transform: uppercase;
    text-align: left
}
::-moz-placeholder {
    font-size: 14px;
    color: #d0cdfa;
    text-transform: uppercase;
    text-align: left
}
:-ms-input-placeholder {
    font-size: 14px;
    color: #d0cdfa;
    text-transform: uppercase;
    text-align: left
}
#registerapp {
    background-color: #002663;
    color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    width: 100px
}
#errorMsgFieldsapp {
    display: none;
    color: #a33f1f;
    font-weight: 700;
    font-size: 14px
}
#errorMsgsearchAppEAuthapp {
    display: none;
    color: #a33f1f;
    font-weight: 700;
    font-size: 14px
}
#errorMsgsearchMerEAuthapp {
    display: none;
    color: #a33f1f;
    font-weight: 700;
    font-size: 14px
}
#crt-app-org-name{
	float: left;
    margin-top: 1%;
    padding-left: 12.8%;
    margin-left: 16%;
    white-space: nowrap
}
#crt-app-prod-name {
    float: left;
    margin-top: 1%;
    padding-left: 9.5%;
    margin-left: 16%;
    white-space: nowrap
}

#crt-eauthapp-prod-name {
    padding-right: 3px
}
#create-app-app-name {
    padding-right: 24px
}

#create-eauthapp-dev-mail {
    padding-right: 33px
}

#crt-eauthapp-cal-bck{
	padding-right: 1px
}

#create-eauthapp-expected-vol {
    padding-right: 23px
}
#create-app-email {
    padding-left: 35px
}
#create-app-org-select,
#create-app-prod-select {
    width: 51%;
    padding-left: 11%;
    margin-left: 6.5%
}
#create-eauth-prod-select {
    width: 51%;
    padding-left: 11%;
    margin-left: 4.5%
}

ul.eAuthNav{
	width: 20%;
	padding-left: 0%;
}

ul.eAuthNav li{
	font-size: 14px;
}



.btn.btn-default {
    margin-right: 25px
}
.crt-ap-lbl {
    font-size: 14px
}
#link-app-cancel {
    background: #002663!important;
    color: #FFF;
    border-radius: 7px;
    width: 100px
}
#registerapp:hover {
    color: #FFF;
    background: #006890
}
#link-app-cancel:hover {
    color: #FFF;
    background: #006890!important;
    border: 1px solid #23527c;
    border-radius: 5px;
    text-decoration: none
}
#link-new-app {
    background: #002663;
    color: #FFF;
    border-radius: 5px
}
#link-new-app:hover {
    color: #FFF;
    background: #23527c;
    border: 1px solid #23527c;
    border-radius: 5px;
    text-decoration: none
}
span input {
    float: left
}
#create-app-org-updated {
    height: 31px
}
#create-app-org {
    height: 31px
}
#create-app-products {
    height: 68px
}
#crt-app-cal-bck,
#crt-app-desc-name,
#crt-app-fst-name,
#crt-app-usr-name {
    padding-left: 15px
}
#crt-app-lst-name {
    padding-left: 16px
}
.prodLength {
    font-weight: 700;
    font-size: 20px;
    color: #002663
}
.apig-err-msg {
    color: #a33f1f
}
.customDialog {
    width: 90%!important;
    left: 6em!important;
    right: 10em!important;
    top: 5em!important;
    z-index: 110007099
}
#dialogParent {
    display: none;
    height: 1000em;
    position: absolute;
    top: 0;
    width: 2583px;
    z-index: 110005099;
    opacity: .2;
    background-color: gray
}
#product-pagination2,
#product-pagination_second {
    float: left;
    width: 43em;
    display: inline-block;
    box-sizing: border-box
}
#pvt-prdts, #pblc-prdts, #appInfo, #workflow, #Products, #userProfile{
	border: 1px solid #BCBEC0;
    text-decoration: none;
}
#product-pagination2:hover, #product-pagination_second:hover, #product-pagination2Ext:hover, #product-pagination_secondExt:hover {
border: 1px solid #B3C9E9;
background: linear-gradient(to bottom, #ECF5FA 50%, #98ABB5);
}
#no-pvt-prod , #no-pblc-prod {
    font-size: 2.4em;
    padding-bottom: 6%;
    color: #006890;
}
.leftNavLinks {
    text-align: left
}
#product-pagination2 {
    padding: 10px
}
#product-pagination_second {
    padding: 1em
}
#fileNameApi {
    width: 29%;
    float: right;
    margin-top: 3%;
    margin-right: -13%;
    margin-bottom: 1%;
}
#updateProdAPIDoc {
    margin-top: 3%;
    margin-left: 14%;
    margin-right: 1%;
    width: 13%;
    font-size: .8em;
    height: 3em
}
#updateProdAPIDocBeta,
#updateProdAPIDocNew,
#updateProdAPIDocPublish {
    margin-top: 3%;
    width: 12%;
    font-size: .8em;
    height: 3em
}
#updateProdAPIDocNew,
#updateProdAPIDocPublish {
    margin-right: 1%
}
.docverlabel {
    margin-top: .5%;
    float: right
}
#navForProducts {
    width: 110em;
    height: 5em;
    font-size: 1.5em;
    border: none
}
#productsMainDiv {
    margin-left: 11%
}
#select-org-app-select {
    width: 51%;
    margin-left: 7%;
    margin-top: 7%
}
.slct-org-form-field {
    clear: both;
    margin: 0 35px 21px 0;
    width: 60%
}
.slct-org-buttons {
    padding: 15px 0 0;
    margin-bottom: 15%
}
#slct-org-app {
    height: 31px;
    font-size: 1.4em
}
.faqpanel-body {
    font-size: 13px!important;
    padding-right: 0
}
.panel-title-faq {
    clear: both;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    color: inherit;
    font-size: 1.8em;
    margin-bottom: 0;
    margin-top: 0;
}
.faqHeader {
    font-size: 24px;
    margin: 11px;
    font-family: BentonSans;
}
.panel-headingFaq[data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072";
    /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.panel-headingFaq[data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}
.glyphiconOpen {
    color: #F58723;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
#welcome {
    margin-left: 882px;
    white-space: nowrap;
}
#logout {
    text-decoration: none;
    height: 38px;
    width: 80px;
}
.filterinput {
    margin-left: 664px;
    height: 33px;
    width: 388px;
    position: absolute;
    margin-top: -36px;
}

.pageNavApp
{
	margin-right:12em;
}
#leftNavDoc
{
	text-align:left;
}

/* Swagger download style */

#codegen-clnt-menu {
    padding-bottom: 3%;
}
#clnt-lng {
    width: 109%;
}
#codegen-client {
    margin-right: -5px;
    padding-right: 5%;
}
#frmwrk-drpdwn {
    margin-right: -12%;
}
#download-codegen {
    border: 1px solid #9DA2A7;
    background: #C3D9EC;
    padding: 6px;
    font-size: 1.1em;
    font-weight: bold;
    color: #002663;
    border-radius: 4px;
   
}
#backDocument {
    border: 1px solid #9DA2A7;
    background: #C3D9EC;
    padding: 6px;
    font-size: 1.1em;
    font-weight: bold;
    color: #002663;
    border-radius: 4px;
   
}
#download-slider {
    margin-top: 8%;
}
#codegen-menu {
    background-color: #C3D9EC;
    border: 1px solid #9DA2A7;
    box-shadow: 10px 0 34px 34px rgba(128, 138, 144, 0.21);
    border-radius: 4px;
}
/* End Swagger download style */

.noMappedProducts
{
	font-size: 2em;
    margin-bottom: 2%;
    color: #002663;
}
.productGridButton
{
	height: 32px;
    width: 90px;
    margin-left: 220px;
    background-color: rgb(0, 136, 204);
}

.documentationbutton {
    
    border-radius: 6px;
    border: 1px solid rgb(255, 255, 255);
    border-color:#337fbd;
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: BentonSans;
    font-size: 12px;
    padding: 5px 14px;
    text-decoration: none;
    background-color: #337fbd;
    
}


ul.nav-tabs.affix-bottom {
    position: relative
}
